# Last.fm Configuration
VITE_LASTFM_USERNAME=your_username
VITE_LASTFM_API_KEY=your_api_key

# Tidal OAuth Configuration
VITE_TIDAL_CLIENT_ID=your_client_id
VITE_TIDAL_CLIENT_SECRET=your_client_secret
